@use 'vars' as *;

.hero {
    // Background da cambiare
    background-color: #fff;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $header-background;
        border-radius: 0 0 90% 90% / 0 0 100% 100%;
        transform: scaleX(1.5);

    }

    .col-12 {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        color: $hero-color;

        .btn-restaurant {
            color: #000;
            background-color: #FFD558;

            &:hover {
                background-color: #f5c433;
            }
        }

        .hero-img {
            height: 100%;
            width: auto;
        }
    }

    .hero-col {
        h1 {
            font-size: 2rem;
        }


        p {
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width: 992px) {

    .hero {
        .col-lg-6 {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1200px) {

    .hero {
        .col-lg-6 {
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .hero-col {
            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.4rem;
                margin-bottom: 20px;
            }
        }
    }
}