//* Loader
$loader-background: rgba(0, 0, 0, 0.66);

//* Header
$header-background: #68B984;

//* Footer
$footer-background: #68B984;

// Link
$link-color: #000;
$link-background: #FFD558;

//* Main
// Scrollbar
$scrollbar-thumb-backgound: #888;
$scrollbar-thumb-backgound-hover: #555;
$scrollbar-track-backgound: transparent;

//* Home
// Hero
$hero-color: #fff;


//*Hero Button

$hero-button-bg: #ffb10a;
$hero-button-hover: #ffc342;