//* Loader
$loader-background: rgba(0, 0, 0, 0.66);

//* Header
$header-background: gray;

// Link
$link-color: #000;
$link-background: #fff;

//* Main
// Scrollbar
$scrollbar-thumb-backgound: #888;
$scrollbar-thumb-backgound-hover: #555;
$scrollbar-track-backgound: transparent;

//* Home
// Hero
$hero-color: rgb(233, 229, 229);